<form class="" action='/output'>
<div class="center row">
  <div class="col-6-xs container">
      <label for="player_1">Player 1 Value</label>
      <input type="text" id='player_1' name='player_1'>
      <span id='player_1_span' class='btn btn-primary'>hide your value</span>
  </div>
  <div class="col-6-xs container">
      <label for="player_2">Player 2 Value</label>
      <input type="text" id='player_2' name='player_2'>
      <span type="submit" id='player_2_span' class='btn btn-primary'>hide your value</span>
      <span type="submit" id='computer-play' class='btn btn-primary'>computer generated value</span>
  </div>
</div>
<button type="submit" class='btn btn-success center container'>Submit values</button>
</form>
