<form class="" action='/word_count_output'>
  <div class='form-group'>
    <label for="string_name">What is the name of your string?</label>
    <input type="text" name="string_name" id='string_name'>
  </div>
  <div class='form-group'>
    <label for="entry_string">Please enter your string here</label>
    <input type="text" name="entry_string" id='entry_string'>
  </div>
  <div class='form-group'>
    <label for="string_find">Please enter word to find number of occurences.</label>
    <input type="text" name="string_find" id='string_find'>
  </div>
<button type="submit" class='btn btn-success'>Submit String</button>
</form>
