<form class="" action='/word_count_output'>
  <label for="entry_string">Please enter your string here</label>
  <input type="text" name="entry_string" id='entry_string'>
  <label for="string_find">Please enter word to find number of occurences.</label>
  <input type="text" name="string_find" id='string_find'>
<button type="submit" class='btn btn-success container'>Submit String</button>
</form>
