<h1>Enter the string that you would like to operate on.</h1>
<form action="/wordfreq">
  <div class="form-group">
    <label for="input_string">Input your String</label>
    <input type="text" name="input_string" class='form-control' id='input_string'>
  </div>
  <div class="form-group">
    <label for="find">What word do you want to find?</label>
    <input type="text" name="find" class='form-control' id='find'>
  </div>
  <button type="submit" class="btn btn-primary">Click Here</button>
</form>
