<form class="" action='/find_replace_output'>
  <label for="string">Please enter your string here</label>
  <input type="text" name="string" id='string'>
  <label for="string_replace">Please enter word to replace</label>
  <input type="text" name="string_replace" id='string_replace'>
  <label for="string_replacement">Please enter word replacement</label>
  <input type="text" name="string_replacement" id='string_replacement'>
<button type="submit" class='btn btn-success center container'>Submit values</button>
</form>
